Flask==1.1.2
flask_paginate
Click==7.0
cycler==0.10.0
Jinja2==2.10.1
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.20.3
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.11.0
SQLAlchemy==1.3.16
Werkzeug==2.2.2
pyodbc
bokeh==2.3.2
pandas
